<%- include('partials/header')%>

    <h1>About page</h1>

    <%# const languages = ['Go', 'Java', 'Rust', 'C++', 'Python', 'JavaScript'] %>

    <ul>
       
        <% for(let language of languages){ %>

            <% if(language.length > 4){ %>

                <li><%= language %></li>

            <% } else { %> 

                <p>--------</p>

            <% } %>
            
        <% } %>

    </ul>

<%- include('partials/footer') %>
