<%- include('partials/header')%>

    <main id="home" class="container">
        <div class="col">
            <p><b>kezo</b> helps you to acurately organize your notes <br> all in one place.</p>
            <a href="/notes">View Notes</a>
        </div>
        <div class="col">
            <img src="/assets/notes.png" alt="">
        </div>
    </main>

<%- include('partials/footer') %>
